<div class="w-full max-w-3xl">

    <!-- Section -->
    <div class="w-full">
        <div class="text-xl">Delete Your Account</div>
        <div class="text-secondary">We're sorry to see you go... <span class="text-xl">😞</span></div>
    </div>

    <div class="flex flex-col w-full mt-4">
        <span class="text-lg font-bold">Before you go</span>
        <span>Once your account is deleted, it won’t be able to access or retrieved.</span>
        <div class="flex flex-row mt-4">
            <!-- <button
                mat-flat-button
                class="rounded-lg"
                [color]="'primary'">
                <span>Never Mind, Keep My Account</span>
            </button> -->
            <button
                mat-flat-button
                (click)="deleteAccount()"
                class="rounded-lg"
                [color]="'warn'">
                <span>Delete Account</span>
            </button>
        </div>
    </div>

</div>
