<div
    class="m-4 flex items-center justify-center shadow-lg rounded-lg z-90 cursor-pointer bg-primary-600"
    >
    <div class="w-full rounded-md p-3 flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
            <mat-icon class="text-white" svgIcon="feather:shopping-cart"></mat-icon>
            <span class="text-white font-semibold pl-2">RM 100.00</span>
        </div>
        <div class="flex flex-row items-center">
            <span class="text-white font-semibold pl-2">CHECKOUT</span>
            <mat-icon class="text-white" svgIcon="heroicons_outline:chevron-right"></mat-icon>
        </div>
    </div>
</div>
