<div class="flex flex-col w-full absolute inset-0 z-999 h-screen bg-black bg-opacity-50">
    <div (click)="closePopup()" class="h-full"></div>
    <!-- Pop-up Contact -->
    <div class="bg-card p-4 rounded-t-xl">
        <!-- Contact Us & Close Button -->
        <div class="w-full flex justify-between py-2">
            <span class="font-bold text-lg">Header</span>
            <mat-icon (click)="closePopup()" class="text-stone-500 cursor-pointer" svgIcon="heroicons_solid:x-circle"></mat-icon>
        </div>
        <ng-content></ng-content>
    </div>
</div>