<ng-container *ngIf="selectedProduct">
    <div class="flex flex-col">
        <div class="flex flex-row justify-between items-center">
            <span class="font-bold text-lg">{{store.name}}</span>
            <mat-icon (click)="closeSheet()" class="text-stone-500 icon-size-7 cursor-pointer" svgIcon="heroicons_solid:x-circle"></mat-icon>
        </div>
        <div class="content pt-1">
            <!-- Content -->
            <div class="flex flex-col mb-4 mt-1">
                <!-- Product Assets -->
                <div class="flex justify-center md:w-140 lg:w-1/2 md:max-h-120 md:min-h-120 mb-2">
                    <ngx-gallery 
                        (previewOpen)="openPreview = true"
                        (previewClose)="openPreview = false"
                        class="shadow md:h-full" 
                        [ngClass]="openPreview ? 'z-50' : 'z-30'"
                        [options]="galleryOptions" 
                        [images]="galleryImages"></ngx-gallery>
                </div>
                <!-- Details/Price -->
                <div class="flex flex-col">
                    <!-- Details -->
                    <div class="flex flex-col gap-1">
                        <span class="font-semibold line-clamp-2">{{selectedProduct.name}}</span> 
                        <div class="md:overflow-y-auto h-auto md:max-h-32">
                            <span class="text-sm font-normal text-gray-400" [innerHTML]="selectedProduct.description"></span>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="flex mt-2">
                        <ng-container *ngIf="displayedProduct.discountAmount > 0; else noItemDiscount" >
                            <div class="font-semibold flex flex-col shrink">
                                <div class="text-xs items-center text-primary-100 flex justify-start items-center">
                                    <span class="py-0.5 px-1 w-auto flex bg-red-600 rounded">{{displayedProduct.discountAmount}}% Off</span>
                                </div> 
                                <span class="mt-[0.15rem] text-xs line-through">{{displayedProduct.price | currency: store.regionCountry.currencySymbol}}</span> 
                                <span class="-mt-[0.15rem] text-base font-semibold text-primary ">{{displayedProduct.discountedPrice | currency: store.regionCountry.currencySymbol}}</span> 
                            </div>
                        </ng-container>
                        <ng-template #noItemDiscount>
                            <div>
                                <span class="text-base font-semibold text-primary">{{displayedProduct.price | currency: store.regionCountry.currencySymbol}}</span>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <!-- Combo -->
                <ng-container *ngIf="selectedProduct.isPackage">
                    <ng-container *ngFor="let combo of combos; let i = index;">
                        <div 
                            [id]="combo.title" 
                            class="py-1 flex flex-col gap-1">
                            <label class="font-semibold text-sm" for="{{combo.title}}">{{combo.title | uppercase}}: (Select {{ combo.totalAllow }} of {{ combo.productPackageOptionDetail.length }})</label>
                            <ul class="grid grid-cols-2 gap-1">
                                <li *ngFor="let option of combo.productPackageOptionDetail; let i = index;" class="flex items-center">
                                    <input type="checkbox" 
                                        [id]="'combo-checkbox-' + combo.id + '-' + option.productId"
                                        [value]="option.productId" 
                                        [name]="'combo-checkbox-' + combo.id + '-' + option.productId"
                                        [checked]="selectedCombo[combo.id].indexOf(option.productId) > -1"
                                        (change)="onChangeCombo(combo.id, option.productId, $event)"
                                    >
                                    <label class="pl-2 leading-tight text-sm" [for]="'combo-checkbox-' + combo.id + '-' + option.productId">{{option.product.name}}</label>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- AddOn -->
                <ng-container *ngIf="selectedProduct.hasAddOn">
                    <ng-container *ngFor="let addOn of addOns; let i = index;">
                        <div 
                            [id]="addOn.title" 
                            class="py-1 flex flex-col gap-1">
                            <label class="font-semibold text-sm" for="{{addOn.title}}">
                                <span *ngIf="addOn.minAllowed !== 0">
                                    {{addOn.title | uppercase}}: (Select {{ addOn.minAllowed }} of {{ addOn.productAddOnItemDetail.length }})
                                </span> 
                                <span *ngIf="addOn.minAllowed === 0">{{addOn.title | uppercase}}: (Optional)</span>
                                <span *ngIf="addOn.maxAllowed !== addOn.minAllowed" class="ml-0.5">Max {{addOn.maxAllowed}}</span>
                            </label>
                            <ul class="grid grid-cols-2 gap-1">
                                <li *ngFor="let option of addOn.productAddOnItemDetail; let i = index;" class="flex items-center">
                                    <input type="checkbox" 
                                        [id]="'addon-checkbox-' + addOn.id + '-' + option.id"
                                        [value]="option.id" 
                                        [name]="'addon-checkbox-' + addOn.id + '-' + option.id"
                                        [checked]="selectedAddOn[addOn.id].indexOf(option.id) > -1"
                                        (change)="onChangeAddOn(addOn.id, option.id, $event)"
                                    >
                                    <label class="pl-2 leading-tight text-sm" [for]="'addOn-checkbox-' + addOn.id + '-' + option.id">
                                        {{option.name}}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- Variants -->
                <ng-container *ngIf="!selectedProduct.isPackage && !selectedProduct.hasAddOn">
                    <ng-container *ngFor="let variant of selectedProduct.productVariants; let i = index;">
                        <div 
                            [id]="variant.name" 
                            class="py-1 flex flex-col gap-1">
                            <label class="font-semibold text-sm" for="{{variant.name}}">{{variant.name | titlecase }}: </label>
                            <ul class="grid grid-cols-2 gap-1">
                                <li *ngFor="let option of variant.productVariantsAvailable; let i = index;" class="flex items-center">
                                    <input type="radio"
                                        class=""
                                        id="{{variant.name + i}}" 
                                        value="{{option.value}}" 
                                        name="{{variant.name}}" 
                                        [checked]="selectedVariants.indexOf(option.id) > -1"
                                        (change)="onChangeVariant(option.id, variant.name, option.productId)"
                                    >
                                    <label class="pl-2 leading-tight text-sm" for="{{variant.name + i}}">{{option.value}}</label>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- Special Instruction -->
                <form [formGroup]="specialInstructionForm">
                    <div class="w-full mt-2">
                        <span class="font-semibold text-base">Special Instruction{{ selectedProduct.isNoteOptional === false ? ' (required)' : ''}}:</span> 
                        <mat-form-field class="mt-1 fuse-mat-textarea fuse-mat-no-subscript w-full" floatLabel="always">
                            <textarea
                                class="text-sm"
                                [ngClass]="'border border-red-600'"
                                matInput
                                [formControlName]="'specialInstructionValue'"
                                maxlength="500"
                                [rows]="2"
                                [placeholder]="selectedProduct.customNote ? selectedProduct.customNote : 'Make it special'"
                                [required]="selectedProduct.isNoteOptional === false"
                                matTextareaAutosize></textarea>
                                <!-- <mat-error *ngIf="specialInstructionForm.get('specialInstructionValue').hasError('required')">
                                    Oops! The special instruction is required for this item
                                </mat-error> -->
                        </mat-form-field>
                    </div>
                </form>
                <!-- Quantity/Add to Cart -->
                <div class="flex flex-row w-full mt-3 gap-2 px-[0.1rem]">
                    <!-- Quantity -->
                    <div class="flex w-1/3 flex-row justify-between items-center gap-2">
                        <div class="flex flex-row h-9 w-24 rounded ring-1 ring-primary relative bg-white">
                            <button (click)="checkQuantity('decrement', selectedProduct.id); $event.stopPropagation()" 
                                class="px-2 text-black group hover:bg-primary hover:text-white cursor-pointer outline-none flex justify-between items-center">
                                <mat-icon 
                                    class="icon-size-4 text-black group-hover:text-white" 
                                    [svgIcon]="'heroicons_solid:minus-sm'"></mat-icon>
                            </button>
                            <input [(ngModel)]="quantity" (change)="checkQuantity()" type="number" 
                                class="focus:outline-none text-center w-full font-medium text-sm text-black focus:text-black md:text-base cursor-default flex items-center outline-none" name="custom-input-number" value="0"/>
                            <button (click)="checkQuantity('increment', selectedProduct.id); $event.stopPropagation()" 
                                class="px-2 text-black group hover:bg-primary hover:text-white cursor-pointer outline-none flex justify-between items-center">
                                <mat-icon 
                                    class="icon-size-4 text-black group-hover:text-white" 
                                    [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- Add to Cart -->
                    <div class="flex flex-row w-2/3">
                        <input
                            id="add-to-cart-button"
                            type="button"
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            mat-button>
                        <label 
                            class="flex items-center justify-center h-9 px-2 rounded cursor-pointer bg-primary group hover:bg-primary-600 w-full ring-1 ring-primary"
                            for="add-to-cart-button"
                            (click)="addToCart(); $event.stopPropagation()"
                            matRipple>
                            <mat-icon
                                class="pr-1 text-white transform scale-75 group-hover:text-black"
                                [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
                            <span class="text-sm font-semibold text-white group-hover:text-black">Add to Cart</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>